# Whatever port you want your backend to run on
PORT=3000

# Use a word or sequence of characters as your JWT_SECRET
JWT_SECRET=jwtexample

# Same as JWT_SECRET but it must be a different word
REFRESH_JWT_SECRET=differetnjwtexample

# Use development or production, if you're running the project
# locally use development
NODE_ENV="development"

# The url of your database
DATABASE_URL=

# The url where you have your frontend
FRONTEND_URL=